In [ ]:
pip install pandas

In [28]:
import pandas as pd

# Percorso del file
file_path = r"C:/Users/d.dipadova/ClassificationOfVariableStars/VariableStarClassification/data/PLV_LINEAR.csv"

# Carica solo le prime 10 righe per diagnosticare la struttura
data = pd.read_csv(file_path, sep=";")

data.head()

,#,LINEARobjectID,LCtype,P,A,mmed,stdev,rms,Lchi2pdf,nObs,skew,kurt,LR,CUF,t2,t3
count,0.0,7.194000e+03,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000,7194.000000
mean,NaN,1.217956e+07,2.730609,3.539937,0.579862,15.724247,0.195282,0.220489,1.508020,261.485405,0.380972,1.692863,1.210762,1.167918,0.358493,0.065054
std,NaN,6.823431e+06,1.963093,45.277938,0.397027,0.798565,0.083779,0.092924,0.633567,123.599035,1.264381,9.956594,0.646780,0.431802,1.519073,0.767724
min,NaN,2.522000e+03,0.000000,-9.900000,-9.900000,14.000000,0.100000,0.040000,0.477000,30.000000,-4.410000,-1.710000,-0.336000,0.000000,0.000000,0.000000
25%,NaN,6.371920e+06,1.000000,0.297193,0.420000,15.120000,0.140000,0.160000,0.999000,189.000000,-0.390000,-0.890000,0.699000,1.000000,0.000000,0.000000
50%,NaN,1.234742e+07,2.000000,0.437881,0.540000,15.830000,0.180000,0.210000,1.444000,225.000000,0.135000,-0.500000,1.150000,1.000000,0.000000,0.000000
75%,NaN,1.806825e+07,5.000000,0.588155,0.720000,16.380000,0.230000,0.270000,1.945500,297.000000,0.737500,0.350000,1.678000,1.000000,0.000000,0.000000
max,NaN,2.426836e+07,11.000000,1963.771851,9.400000,17.000000,2.990000,2.270000,4.827000,1150.000000,14.670000,244.430000,4.425000,5.000000,11.000000,12.000000

## Data  Cleaning

In [29]:
data.isnull().sum()  # il dataset non presenta valori mancanti

#                 7194
LINEARobjectID       0
LCtype               0
P                    0
A                    0
mmed                 0
stdev                0
rms                  0
Lchi2pdf             0
nObs                 0
skew                 0
kurt                 0
LR                   0
CUF                  0
t2                   0
t3                   0
dtype: int64

In [31]:
data = data.drop_duplicates()  # Rimuove righe duplicate

,#,LINEARobjectID,LCtype,P,A,mmed,stdev,rms,Lchi2pdf,nObs,skew,kurt,LR,CUF,t2,t3
7189,NaN,24262890,1,0.600464,0.56,16.57,0.19,0.23,1.093,329,-0.20,-0.73,0.845,1,0,0
7190,NaN,24264172,1,0.651568,0.45,15.28,0.14,0.15,1.608,99,0.07,-0.76,1.392,2,0,0
7191,NaN,24264418,5,0.296639,0.73,16.83,0.23,0.24,0.662,104,1.14,0.51,0.400,1,0,0
7192,NaN,24265735,5,0.340105,0.88,16.97,0.29,0.28,0.763,95,1.05,0.62,0.566,1,0,0
7193,NaN,24268361,5,0.194200,0.39,15.95,0.13,0.17,1.058,108,0.01,-1.11,0.871,1,0,0

# Salvataggio file csv
Dopo le modifiche il file pu√≤ essere scaricato e utilizzato per il training del modello

In [50]:
import os

currDir = os.getcwd()
parent_dir = os.path.dirname(currDir)


fullOutputPath =  parent_dir  + "\data\output\output.csv"

fullOutputPath.replace("\"" , "/")

data.to_csv( fullOutputPath , index=False)

c:\Users\d.dipadova\ClassificationOfVariableStars\VariableStarClassification\data\output\output.csv